body {
    background-image: url(/img/background-montagne.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;  /* Centrer horizontalement */
    align-items: center;      /* Centrer verticalement */
}

h1{
    font-family: "Sigmar", serif;
    color: rgb(106, 182, 210);
    font-size: 45px;
}

h2, h3{
    font-family: "Playwrite IT Moderna", serif ;
}

h3{
    text-decoration:overline;
}

.main-container{
    background-color: white;
    padding: 50px;
    text-align: center;  
    height: 100%;                
    display: flex;                      
    flex-direction: column;                  
    justify-content: center;                
    width: 100%; 
    margin-left: 20%;
    margin-right: 20%;
    overflow-y: auto; 
}

#form{
    padding: 40px;
    font-size: 23px;
    font-family: "Playwrite IT Moderna", serif;
}

#quote-list{
    font-size: 20px;
}

button{
    cursor: pointer;
    padding: 10px;
}

.quote{
    background-color: rgb(231, 245, 250);
    padding: 20px;
    margin-top: 20px;
    font-family: "Playwrite IT Moderna", serif ;
    color: rgb(55, 84, 135);
    border: none;
    box-shadow: 0 0 15px rgb(160, 217, 237);
}

.author{
    color: rgb(178, 100, 121);
}

#user_quote {
    width: 100%;
    height: 100px; /* Ajuste selon ton besoin */
    resize: vertical; /* Permet à l'utilisateur d'agrandir la zone */
    font-size: 16px;
    padding: 10px;
}

#name{
    height: 30px;
    width: 25%;
    font-size: 18px;
}



